.footer {
  background-color: #4c394e;
  &__content {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white, #f8fdfe);
    font-family: Cabin;
    font-size: 16.002px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.996px; /* 150% */
  }
}
