.header {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.header-top {
  background: #10bbd5;
  min-height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link-logo {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__logo-image {
    max-height: 30.002px;
  }

  &__logo-text {
    color: #f8fdfe;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__cart {
    position: relative;
    display: flex;
    gap: 9.996px;
    align-items: center;
  }

  &__cart-price {
    color: #f8fdfe;
    font-family: Cabin;
    font-size: 16.002px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 150% */
  }

  &__cart-btn {
    position: relative;
    width: 39.998px;
    height: 39.998px;
    border: none;
    background: transparent;
    width: 39.998px;
    height: 39.998px;
    background-image: url("../images/cart_icon.png");
  }

  &__cart-quantity {
    position: absolute;
    z-index: 2;
    top: 11.998px;
    right: 13.006px;

    color: #000;
    font-family: Cabin;
    font-size: 11.998px;
    font-style: normal;
    font-weight: 400;
    line-height: 83%;
  }
}

.header-bottom {
  background: #fff;

  &__content {
    padding-top: 4.004px;
    padding-bottom: 4.004px;
    display: flex;
    justify-content: space-between;
  }
  &__heading {
    color: #000;
    font-family: Cabin;
    font-size: 16.002px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  &__list {
    display: flex;
    gap: 39.998px;
  }
  &__link {
    color: #000;
    font-family: Cabin;
    font-size: 16.002px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 150% */
  }
}
