.main {
  background: var(--beige, #eeeeef);
  position: relative;
  padding-top: 104px;

  &__title {
    display: block;
    padding-top: 35px;
    padding-bottom: 25.004px;
    border-bottom: 0.994px solid #a8a8a8;
    margin-bottom: 25.004px;
    position: relative;
    color: #1f1f1f;
    font-family: Cabin;
    font-size: 32.004px;
    font-style: normal;
    font-weight: 600;
    line-height: 39.998px; /* 125% */
  }
}

.chat {
  background-color: #10bbd5;
  width: 63.994px;
  height: 63.994px;
  border-radius: 50%;
  position: absolute;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  .chat__icon {
    width: 49.994px;
    height: 49.994px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32.004px 23.996px;
}

.product-card { 
  padding: 32.004px;
  border: 0.994px solid #a8a8a8;
  background: #f8fdfe;
  &__image {
  position: relative;
  padding-top: 115%;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
        object-position: center;      
  }
}
  &__banner {
    position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  padding: 4.004px 7.994px;
  justify-content: center;
  align-items: center;
  gap: 4.004px;
  border: none;
  color: #f8fdfe;
  text-align: center;
  font-family: Cabin;
  font-size: 16.002px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.996px; /* 150% */
  }
  &__title {
    margin-top: 16.002px;
    border-bottom: 0.994px solid #a8a8a8;
    display: flex;
    width: 242.004px;
    height: 30.996px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--black, #1f1f1f);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 20.006px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    
  }
  &__author-name {
    display: flex;
    width: 240.996px;
    height: 23.996px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--gray, #8e8e8e);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 16.002px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.996px; /* 150% */
    
  }
  &__price {
    color: #e90000;
    font-family: Cabin;
    font-size: 23.996px;
    font-style: normal;
    font-weight: 500;
    line-height: 32.004px; /* 133.333% */
    
  }
  &__add-btn {
    margin-top: 16.002px;
    display: flex;
    padding: 7.994px 23.996px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: none;
    width: 100%;
    border-radius: 4.004px;
    background: var(--eggplant, #4c394e);
    color: var(--white, #f8fdfe);
    text-align: center;
    font-family: Cabin;
    font-size: 16.002px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.996px; /* 150% */
  }
  &__add-btn--end-up{
    background: #4d762d;
  }
 
  &__price-container {
    display: flex;
  align-items: center;
  gap: 23.996px;
  }
  &__old-price {
    color: var(--gray, #8e8e8e);
  font-family: Cabin;
  font-size: 23.996px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.004px; /* 133.333% */
  text-decoration: line-through;
  }

  &__banner-discount {
    display: flex;
    padding: 4.004px 7.994px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4.004px;
    background: #ea33c0;
    
  }
  &__banner-new {
    display: flex;
  padding: 4.004px 7.994px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4.004px;
  background: #af39e7;

  }
  &__banner-hit {
    display: flex;
    padding: 4.004px 7.994px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4.004px;
    background: #4200ff;
  }
}


 
